layout {
    pane split_direction="horizontal" {
        pane {
            command "cargo"
            args "watch" "-x run"
            cwd "backend/"
        }
        pane { 
            command "trunk"
            args "watch"
            cwd "ui/"
        }
        pane { 
            command "sudo"
            args "docker" "run" "--rm" "--pull" "always" "--name" "surrealdb" "-p" "8000:8000" "surrealdb/surrealdb:latest" "start" "--log" "trace" "--user" "root" "--pass" "root" "memory"
            cwd "ui/"
        }
    }
}
